:host {
  border: 2px red solid;
  display: block;
  margin: 50px;
  padding: 20px;
  overflow-y: scroll;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
}

.row .pilot-content {
  border-left: 2px solid red;
  margin-left: -5px;
  padding-left: 10px;
}

.link-actiom {
  margin: 5px;
  background-color: #9a949487;
  border: 1px solid #FFF;
  padding: 5px 10px;
  color: #241c64;
  font-weight: bold;
  font-size: 14px;
}

.link-actiom:hover {
  border: 1px solid red;
  color: #FFF;
}

a {
  text-decoration: none;
}
