<!--<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">-->
  <!--<h2>Are you ready}</h2>-->

  <!--<button type="button" class="back" routerLink="/">Back</button>-->

  <!--<label for="keyName">Key</label>-->
  <!--<input id="keyName"  type="text" name="keyName" ngModel/>-->

  <!--<label for="tokenName">Key</label>-->
  <!--<input id="tokenName"  type="text" name="tokenName" ngModel/>-->

  <!--<button type="submit" [disabled]="form.invalid">hack</button>-->
<!--</form>-->

<h1>I am the Picture, rly! trust me i am engineer!</h1>
